/* Background styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ece9e6, #ffffff);
  }
  
  /* Card design */
  .card form{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
  }
  
  /* Form fields */
  .formGroup {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Button styling */
  .submitBtn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #ff5f6d;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .submitBtn:hover {
    background:#ff3d5a ;
  }
  
  /* Sign Up link */
  .signupText {
    margin-top: 10px;
  }
  
  .signupLink {
    color:#ff5f6d;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signupLink:hover {
    text-decoration: underline;
  }
  